@import url(./reset.css);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin-block-start: var(--metric-box-spacing);
  text-justify: auto;
}

h1 {
  margin-block-end: var(--metric-box-spacing);
  color:rgb(84, 89, 89);
}

header,
footer {
  background-color: var(--color-off-white);
  text-align: center;
  font-weight: bold;
  color:rgb(225, 235, 245);
}

header {
  padding: var(--metric-box-spacing);
  background-color: hsl(140deg 70% 95%);
  font-size: 1.4em;
  text-transform: uppercase;
  background-color: rgb(79, 11, 147);
}

main {
  padding: var(--metric-box-spacing);
  min-block-size: calc(100vh - 8em);
}

footer {
  padding: calc(var(--metric-box-spacing) / 2);
  background-color: rgb(134, 40, 229);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: var(--metric-box-spacing);
}

.card {
  padding: var(--metric-box-spacing);
  background-color: var(--color-off-white);
  border-radius: var(--metric-radius);
  box-shadow: var(--generic-shadow);
}

/* Responsive */
@media screen and (max-width: 280px) {
  .title {
    font-size: 1.5rem;
  }
  .cards h2 {
    font-size: 1.25rem;
  }
  article p {
    font-size: .75rem;
  }
}